<section id="about" class="my-6">
  @let translations = translations$ | async;
  @let darkTheme = darkTheme$ | async;
  <h2 class="text-3xl font-bold text-center">{{ translations.aboutUs.title }}</h2>
  <div class="mt-4 flex gap-12 flex-col md:flex-row">
    <div class="flex-1 flex flex-col gap-6">
      <div class="flex flex-col gap-2">
        <h3 class="text-2xl font-semibold inline-flex items-center">
          <div class="bg-light-surfaceContainerLow dark:bg-dark-surfaceContainerLow  
          text-light-primary dark:text-dark-primary text-xs font-medium me-2 px-1.5 py-1.5 rounded-lg">
            <app-user-icon />
          </div>
          {{ translations.aboutUs.sections[0].title }}
        </h3>
        <p class="tracking-wide text-pretty">
          {{ translations.aboutUs.sections[0].content }}
        </p>
      </div>
      <div class="flex flex-col gap-2">
        <h3 class="text-2xl font-semibold inline-flex items-center">
          <div class="bg-light-surfaceContainerLow dark:bg-dark-surfaceContainerLow  
          text-light-primary dark:text-dark-primary text-xs font-medium me-2 px-1.5 py-1.5 rounded-lg">
            <app-affiliate-icon />
          </div>
          {{ translations.aboutUs.sections[1].title }}
        </h3>
        <p class="tracking-wide text-pretty">
          {{ translations.aboutUs.sections[1].content }}
        </p>
      </div>
      <div class="flex flex-col gap-2">
        <h3 class="text-2xl font-semibold inline-flex items-center">
          <div class="bg-light-surfaceContainerLow dark:bg-dark-surfaceContainerLow  
          text-light-primary dark:text-dark-primary text-xs font-medium me-2 px-1.5 py-1.5 rounded-lg">
            <app-at-icon />
          </div>
          {{ translations.aboutUs.sections[2].title }}
        </h3>
        <p class="tracking-wide text-balance">
          {{ translations.aboutUs.sections[2].content.textPrefix }} <strong>{{ translations.brand }}</strong>{{ translations.aboutUs.sections[2].content.textMiddle }}
          <span class="inline-flex items-center align-bottom gap-2"><app-fish-icon className="w-6" /> {{ translations.aboutUs.sections[2].content.textMin }}</span> 
          {{ translations.aboutUs.sections[2].content.textAnd }}
          <span class="inline-flex items-center align-bottom gap-2"><app-bone-icon className="w-5" /> {{ translations.aboutUs.sections[2].content.textKasper }}</span>
        </p>
      </div>
    </div>
    <div class="flex-1">
      <h3 class="text-2xl font-semibold">{{ translations.aboutUs.sections[3].title }}</h3>
      <span class="
            bg-light-surfaceContainerLow dark:bg-dark-surfaceContainerLow  
            text-light-primary dark:text-dark-primary text-xs font-medium me-2 px-3 py-1 rounded-lg ">
        {{ translations.aboutUs.sections[3].platforms[0] }}
      </span>
      <span class="
            bg-light-surfaceContainerLow dark:bg-dark-surfaceContainerLow  
            text-light-primary dark:text-dark-primary text-xs font-medium me-2 px-3 py-1 rounded-lg ">
        {{ translations.aboutUs.sections[3].platforms[1] }}
      </span>
      <ul class="flex flex-col gap-4 mt-4">
        <li>
          <app-card-skill-section 
            textTitle="{{ translations.aboutUs.sections[3].items[0].title }}"
            textDescription="{{ translations.aboutUs.sections[3].items[0].content }}">
            <app-code-icon className="w-8 h-8 text-light-primary dark:text-dark-primary"  />
          </app-card-skill-section>
        </li>
        <li>
          <app-card-skill-section 
            textTitle="{{ translations.aboutUs.sections[3].items[1].title }}"
            textDescription="{{ translations.aboutUs.sections[3].items[1].content }}">
            <app-framework-icon className="w-8 h-8" [strokeColor]="darkTheme ? '#417386' : '#023042'" />
          </app-card-skill-section>
        </li>
        <li>
          <app-card-skill-section 
            textTitle="{{ translations.aboutUs.sections[3].items[2].title }}"
            textDescription="{{ translations.aboutUs.sections[3].items[2].content }}">
            <app-database-icon className="w-8 h-8" [strokeColor]="darkTheme ? '#417386' : '#023042'" />
          </app-card-skill-section>
        </li>
        <li>
          <app-card-skill-section 
            textTitle="{{ translations.aboutUs.sections[3].items[3].title }}"
            textDescription="{{ translations.aboutUs.sections[3].items[3].content }}">
            <app-dev-tools-icon className="w-8 h-8" [strokeColor]="darkTheme ? '#417386' : '#023042'" />
          </app-card-skill-section>
        </li>
        <li>
          <app-card-skill-section 
            textTitle="{{ translations.aboutUs.sections[3].items[4].title }}"
            textDescription="{{ translations.aboutUs.sections[3].items[4].content }}">
            <app-project-management-icon className="w-8 h-8" [strokeColor]="darkTheme ? '#417386' : '#023042'" />
          </app-card-skill-section>
        </li>
        <li>
          <app-card-skill-section 
            textTitle="{{ translations.aboutUs.sections[3].items[5].title }}"
            textDescription="{{ translations.aboutUs.sections[3].items[5].content }}">
            <app-work-tools-icon className="w-8 h-8" [strokeColor]="darkTheme ? '#417386' : '#023042'" />
          </app-card-skill-section>
        </li>
        <li>
          <app-card-skill-section 
            textTitle="{{ translations.aboutUs.sections[3].items[6].title }}"
            textDescription="{{ translations.aboutUs.sections[3].items[6].content }}">
            <app-prototyping-icon className="w-8 h-8" [strokeColor]="darkTheme ? '#417386' : '#023042'" />
          </app-card-skill-section>
        </li>
      </ul>
    </div>
  </div>
</section>