@defer{
<app-header (sectionSelected)="scrollToSection($event)" />
<main class="flex flex-col justify-between items-center container m-auto px-4 lg:px-16">
  <app-hero id="hero"/>
  <app-projects id="projects"/>
  <app-about id="about" />
  <img src="https://i.pinimg.com/736x/bd/54/d3/bd54d30f363f9a3a9f88ef67504ac73b.jpg" alt="fondo"/>
</main>
<router-outlet />
}@placeholder {
  <app-loading-placeholder message="Preparando para cargar datos..."/>
}@loading {
  <app-loading-placeholder message="Cargando datos..."/>
}
<!---https://demo3565171.mockable.io/portfolio/projects-->