<div class="relative w-40">
  <div (click)="toggleDropdown()"
    class="w-full flex items-center justify-between py-2 px-3 text-gray-700 font-semibold cursor-pointer rounded
     hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-light-primary md:p-0 md:w-auto 
     dark:text-gray-400 dark:hover:text-white dark:focus:text-white dark:border-gray-700 dark:hover:bg-gray-700 md:dark:hover:bg-transparent">
    <span class="flex items-center gap-2 grow ">
      <app-translate-icon/>
      {{ selectedOption }}
    </span>
    <svg class="w-2.5 h-2.5 ms-3 flex-none" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4" />
    </svg>
  </div>
  <!-- Dropdown menu -->
  <div clickOutside (clickOutside)="closeDropdown()" [isActive]="isDropdownOpen"
    class="absolute mt-2 z-10 font-normal bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700 dark:divide-gray-600">
    @if (isDropdownOpen) {
    <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownLargeButton">
      @for (option of options; track option) {
      <li>
        <a (click)="selectOption(option)"
          class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">
          {{ option.label }}
        </a>
      </li>
      } @empty {
      <li class="block px-4 py-2 text-gray-500">No options available</li>
      }
    </ul>
    }
  </div>
</div>