<a [href]="href" target="_blank" rel="noopener noreferrer" role="link"
    class="inline-flex items-center justify-center gap-2 px-4 py-1 text-gray-800 transition  border border-gray-300 rounded-full
    bg-light-surfaceContainerLow dark:bg-dark-surfaceContainerLow hover:bg-[#023042]
      dark:border-gray-600 dark:text-white focus-visible:ring-yellow-500/80 text-md  hover:border-gray-700 group max-w-fit hover:text-white focus:outline-none focus-visible:outline-none focus-visible:ring focus-visible:ring-white focus-visible:ring-offset-2 active:bg-black">
    <ng-content />
</a>